@model Event.Models.ServiceProposal

<div class="card service-card mb-3">

    <!-- Card Body -->
    <div class="card-body">
        <p class="card-text text-center">@Model.Description</p>
    </div>

    <!-- Contact Button -->
    <div class="card-footer text-center">
        <a href="#" class="btn btn-primary btn-sm">
            Contact Provider
        </a>
    </div>
</div>
