@using Event.Models.ViewModels
@model EventsPageViewModel
@{
    ViewData["Title"] = "EventDetails";
}
@{
    Layout = "_Layout";
}
<section class="events-page">
    <!-- Search Bar Container -->
   <div class="search-filter">
     <div class="search-container">
        <form method = "GET" asp-controller= "Home" asp-action = "Search" class="search-form">
            <input type="text" name="keyword" class="search-input" placeholder="Search for events..." required>
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="filter-buttons" id="filter-section">
        <button class="btn btn-outline-primary filter-btn" data-filter="Online">
            Online
        </button>
        <button class="btn btn-outline-primary filter-btn" data-filter="Music">
            Music
        </button>
        <button class="btn btn-outline-primary filter-btn" data-filter="Conferences">
            Conferences
        </button>
    </div>
   </div>
   
   <div class="search-events">
    
   </div>
    <h1 id="section-title">For You</h1>
    <div id="events">
        @foreach (var item in Model.Events)
        {
            <partial name="EventCard" , model="item" />
        }
    </div>
</section>
