@using Event.Models.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}
@model IEnumerable<EventDisplayViewModel>

<section id="event-section">
    <div class="hero">
        <div class="hero-content">
            <form method="post" asp-controller="Home" asp-action="Search">
                <input name="keyword" type="search" class="form-control search-input" placeholder="Search Events...">
                <button class="btn btn-primary search-btn" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="events" id="hot-event">
        <h1 id="section-title">Hot Events</h1>
        <div id="event-wrapper">
            @foreach (var item in Model)
            {
                <partial name="EventCard" , model="item" />
            }
        </div>
    </div>
    <div class="events" id="conference section">
        <h1 id="section-title">Conferences</h1>
        <div id="event-wrapper">
            @foreach (var item in Model)
            {
                <partial name="EventCard" , model="item" />
            }
        </div>
    </div>
    <div class="events" id="cs-sections">
        <h1 id="section-title">Coming Soon...</h1>
        <div id="event-wrapper">
            @foreach (var item in Model)
            {
                <partial name="EventCard" , model="item" />
            }
        </div>
    </div>
</section>
