@using Event.Models.ViewModels
@model MainPageViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}

<main>
    <section id="hero" class="hero-section">
        <div class="hero-overlay">
            <div class="hero-content">
                <h1>We Have Gathered The Best Events For You!</h1>
                <p>Find events, book services, and connect with people!</p>
                <a asp-controller="Home" asp-action="GetEvents" class="btn btn-primary">Find Your Next Event</a>
            </div>
        </div>
    </section>

    <div class="events" id="hot-event">
        <h1 id="section-title"><i class="fas fa-chart-line"></i>Trending</h1>
        <div id="event-wrapper">
            @foreach (var item in Model.TrendingEvents.Take(4))
            {
                <partial name="EventCard" , model="item" />
            }
        </div>
    </div>
</main>
