@using Event.Models.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}
@model IEnumerable<EventDisplayViewModel>

<section id="event-section">
    <div class="hero">
        
    </div>
    <div class="events" id="hot-event">
        <h1 id="section-title">Trending</h1>
        <div id="event-wrapper">
            @foreach (var item in Model)
            {
                <partial name="EventCard" , model="item" />
            }
        </div>
        <div id="event-wrapper">
            @foreach (var item in Model)
            {
                <partial name="EventCard" , model="item" />
            }
        </div>
    </div>
    <div class="events" id="conference section">
        <h1 id="section-title">Online</h1>
        <div id="event-wrapper">
            @foreach (var item in Model)
            {
                <partial name="EventCard" , model="item" />
            }
        </div>
    </div>
    <div class="events" id="cs-sections">
        <h1 id="section-title">Organizers</h1>
        <div id="event-wrapper">
            @foreach (var item in Model)
            {
                <partial name="EventCard" , model="item" />
            }
        </div>
    </div>
</section>
