@page
@model Event.Pages.MyEvents
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "MyEvents";
}
@{
    Layout = "_Layout";
}

<div>
    <h1>My Events</h1>

    <ul class="list-group">
        @foreach(var e in Model.Rsvps)
        {
            <li class="list-group-item">@e.Event.Description</li>
        }
    </ul>
</div>