@page
@model Event.Pages.SignUp;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_MinimalLayout";
}
<section id="signup">
    <div class="form-wrapper">
        <div id="head-text">
            <h2 class="title">Sign Up</h2>
            <p>Already have an account? <a href="#">Log in</a></p>
        </div>
        <div class="social-login-buttons">
            <button class="social-button google">
                <i class="fa-brands fa-google me-2"></i> Continue with Google
            </button>
            <button class="social-button facebook">
                <i class="fab fa-facebook-f"></i> Continue with Facebook
            </button>
        </div>
        <div class="divider">Or use your email</div>
        <form method="post" asp-page="/SignUp" asp-validation-summary="All">
            <div class="form-group">
                <input asp-for="registerRequestDto.Email" class="form-control email-input" placeholder="Email" />
                <span asp-validation-for="registerRequestDto.Email" class="text-danger"></span>
            </div>
            <div class="validation-button">
                <button type="submit" class="btn btn-primary" id="signup-button">SignUp</button>
            </div>
        </form>
    </div>
</section>